
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - L'AQUARIUM</title>
    @Styles.Render("~/Content/css")
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <strong> @Html.ActionLink("L'aquarium", "Index", "Home", null, new { @class = "navbar-item" })</strong>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

            </div>

            <div class="navbar-end">


                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "navbar-item" })

                @Html.ActionLink("About", "About", "Home", null, new { @class = "navbar-item" })

                @Html.ActionLink("Archives", "Archives", "Home", null, new { @class = "navbar-item" })


                @Html.ActionLink("Poster", "Create", "Articles", null, new { @class = "navbar-item" })





              @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Le blog des fans de poisson</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
