@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2">
                <h2 class="is-size-1 has-text-weight-bold">@Html.DisplayFor(model => model.Title)</h2>
            </div>
            <div class="column is-8 is-offset-2">
                <h3>Rédigé par  @Html.DisplayFor(model => model.User.Pseudo)</h3>
                <h3>Publié le @Html.DisplayFor(model => model.Date)</h3>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <p class="is-size-6 has-text-grey is-italic"> @Html.DisplayFor(model => model.Resume)</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" style="height: 350px; background:url('@Model.Cover') no-repeat;background-size: cover;background-position: center;">
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                @Html.ActionLink("Retour", "Index")
            </div>
        </div>
    </div>
</section>

<hr />

<section>
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2">
                <h3>Commentaires</h3>
            </div>
            <div class="column is-8 is-offset-2">
                @{
                    Html.RenderAction("ArticleComments", new { id = Model.ArticleID });
                }
            </div>
        </div>

    </div>
</section>
