

@{
    ViewBag.Title = "Archives";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="nav-collapse collapse">
    <ul class="nav">
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
        <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
        <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
        <li>@Html.ActionLink("Medias", "Index", "Medias")</li>
    </ul>
</div>
<br />

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

