@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

<section class="main-header hero is-primary is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bienvenue dans l'aquarium
            </h1>
            <h2 class="subtitle">
                Plongez avec votre maillot de bain en plein coeur du monde de Némo en visitant notre blog accompagné d'un petit son des dents de la mer ;)
            </h2>
            @{
                if (Request.IsAuthenticated)
                {
                    <div>Bienvenue @User.Identity.Name ! </div>
                }
            }
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title">Derniers articles</h2>
            </div>
            <div class="column is-one-fifth">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Rechercher...">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>


        <div class="columns">
            <!-- Affichage des Articles -->
            @foreach (var item in Model)
            {
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/640x480.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4"> @Html.ActionLink(item.Title, "Details", "Articles", new { id = item.ArticleID }, null)</p>
                        <p>
                            Rédigé par : <strong>@Html.DisplayFor(modelItem => item.User.Pseudo)</strong>
                        </p>
                        <div class="content">
                            @Html.DisplayFor(modelItem => item.Content)
                        </div>
                        <p>
                            @Html.DisplayFor(modelItem => item.Date)
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
             <!-- Fin -->
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://bulma.io/images/placeholders/640x480.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Titre</p>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://bulma.io/images/placeholders/640x480.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Titre</p>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://bulma.io/images/placeholders/640x480.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Titre</p>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>